<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="catExport" value="D:\ALLZSV\myHomeland\floraZSV\catExport\" />
		<add key="catUnZip" value="D:\ALLZSV\myHomeland\floraZSV\catUnZip\" />
		<add key="catSubCutFotos" value="D:\ALLZSV\myHomeland\floraZSV\catSubCutFotos\" />
		<add key="floraBD" value="server=localhost;port=3306;user=root;password=root;database=snz_flora;" />
		<add key="notepd" value="C:/Program Files/Notepad++/notepad++.exe" />
		<add key="winword" value="C:/Program Files/Microsoft Office/root/Office16/WINWORD.EXE" />
		<add key="UnZip" value="C:/Program Files/7-Zip/7z.exe" />
		<add key="FastStone" value="C:\Program Files (x86)\FastStone Image Viewer\FSViewer.exe" />
		<add key="instrFloraSNZ" value="D:\ALLZSV\myHomeland\floraZSV\instrFloraSNZ.docx" />
	</appSettings>
</configuration>